{:paths ["src" "resources"]
 :deps  {org.clojure/clojure {:mvn/version "1.11.1"}
         org.beryx/text-io   {:mvn/version "3.4.1"}}
 :aliases
 {:dev  {:extra-paths ["dev" "scripts"]}
  :test {:extra-paths ["test"]
         :extra-deps  {org.clojure/test.check          {:mvn/version "1.1.1"}
                       io.github.seancorfield/deps-new {:git/tag "v0.4.12" :git/sha "37aa288"}}}}}
