{:paths ["src" "resources"]
 :deps  {org.clojure/clojure {:mvn/version "1.11.1"}
         com.rpl/specter     {:mvn/version "1.1.4"}
         ch.codesmith/logger {:mvn/version "0.6.83"}
         ch.codesmith/blocks {:mvn/version "0.5.50"}
         ;ch.codesmith/blocks-xtdb {:mvn/version "0.5.50"}
         ;ch.codesmith/blocks-postgres {:mvn/version "0.5.50"}
         ;ch.codesmith/blocks-rabbitmq {:mvn/version "0.5.50"}
         ;ch.codesmith/blocks-reitit {:mvn/version "0.5.50"}
         ;ch.codesmith/blocks-aero {:mvn/version "0.5.50"}
         ;ch.codesmith/blocks-httpkit {:mvn/version "0.5.50"}
         }
 :aliases
 {:dev   {:extra-paths ["dev"]
          :extra-deps  {
                        ;ch.codesmith/blocks-rabbitmq-dev {:mvn/version "0.5.50"}
                        ;ch.codesmith/blocks-postgres-dev {:mvn/version "0.5.50"}
                        ;ch.codesmith/blocks-reitit-dev {:mvn/version "0.5.50"}
                        ;ch.codesmith/blocks-test-containers {:mvn/version "0.5.50"}
                        }}
  :test  {:extra-paths ["test"]
          :extra-deps  {org.clojure/test.check {:mvn/version "1.1.1"}}}
  :build {:extra-paths ["build"]
          :extra-deps  {io.github.codesmith-gmbh/anvil {:git/tag "v0.9.163" :git/sha "f5b116a"}}
          :ns-default  build}}}
